@{ 
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
    <img src="~/images/architecture-auditorium-building-159213.jpg" alt="classroom" width="684" height="456" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome!</h2>
        <p>
            Our campus has green grass.
        </p>
        <img src="~/images/architecture-building-clouds-207648.jpg" alt="building and clouds" width="275" height="151" />
    </div>
    <div class="col-md-4">
        <h2>Plan For Your Future</h2>
        <p>No one else is going to do it for you.</p>
        <img src="~/images/adult-blond-blur-789703.jpg" alt="pondering" width="227" height="151" />
    </div>
    <div class="col-md-4">
        <h2>Apply Now!</h2>
        <p>What are you waiting for?</p>
        <img src="~/images/apple-desk-laptop-6565.jpg" alt="laptop" width="226" height="151" />
    </div>
</div>